.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.counter {
  color: navy;
  background-color: white;
  flex-direction: row;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.counter-text {
  margin: 8px;
}

.counter-button {
  cursor: pointer;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  font-weight: 600;
  font-size: large;
  user-select: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
